body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: black;
}

.green{
    color: green;
}

.red{
    color: red;
}

.general{
    width: 839px;
}

.content{
    background-color: #0a0a0a;
    min-height: 800px;
    margin-top: 10px;
    padding-bottom: 3px;
    color: gray;
}

.content:before{
    content: "";
    display: table;
}

.flex{
    display: flex;
}

.image{
    width: 200px;
    height: 300px;
    margin: 3px;
}

.short-description{
    margin: 3px;
    background: #191919;
    width: 627px;
    height: 300px;
}

.description{
    margin: 3px;
    min-height: 100px;
    background: #191919;
    padding: 5px;
    line-height: 1.5;
}

.desc-row{
    color: gray;
    padding: 10px;
    display: flex;
    margin: 0 10px 0;
}

.r{
    width: 50%;
    padding: 3px;
    padding-left: 10px;
}

.r2{
    width: 50%;
    color: #BBBBBB;
}

.white{
    color: #BBBBBB;
}

.gray{
    background: #131313;
    padding: 10px;
}

.marks{
    margin: 0 20px 0;
}

.vnyt{
    color: #BBBBBB;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.flag{
    background: #131313;
    color: #BBBBBB;
    border: 0;
    font-size: 14px;
}

.flag:hover{
    cursor: pointer;
}

.slim{
    font-weight: normal;
}

#player{
    width: 833px;
    max-height: 500px;
    margin: 3px;
}

.com{
    font-size: 20px;
    margin-bottom: 10px;
}

#comments{
    padding: 10px;
    margin: -3px 3px 3px 3px;
    background: #191919;
}

.red{
    color: red;
}

.black{
    background: black;
}

.main-comment{
    display: flex;
    margin: 5px 0;
}

.comment-text{
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
}

.authour-row{
    display: flex;
    justify-content: space-between;
    background: #222222;
    padding: 0 20px;
    color: #BBBBBB;
}

.avatar-block{
    padding: 10px;
    background: #131313;
}

.avatar{
    font-size: 80px;
    background: #131313;
}

#addComment{
    margin: 0 3px 10px 3px;
    background: #191919;
}

.insideAddComment{
    padding: 5px;
}

#outsideArea{
    width: 100%;
}

#textarea{
    color: white;
    background: #131313;
    width: 817px;
    min-height: 100px;
    font-size: 16px;
}

#send{
    border: 1px solid black;
    background: #151515;
    margin: 0;
    font-size: 16px;
}

.filter-name{
    color: gray;
    font-size: 14px;
    background: #191919;
    margin: 3px;
    padding-right: 15px;
    text-align: right;
}

.red{
    color: red;
}

