body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: black;
}

a{
    text-decoration: none;
}

.hidden{
    visibility: hidden;
}

.general{
    width: 839px;
}

.content{
    background-color: #0a0a0a;
    min-height: 700px;
    margin-top: 10px;
    padding-bottom: 3px;
}

.content:before{
    content: "";
    display: table;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    margin-right: 3px;
    margin-left: 3px;
}

.image{
    width: 200px;
    height: 300px;
    margin: 3px;
}

.block{
    padding-bottom: 3px;
    margin-right: 3px;
    background-color: #191919;
}

.desc{
    width: 200px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    color: gray;
    text-align: center;
    word-break: break-word;
}

.marks p:first-child{
    margin-left: 15px;
}

.marks p:last-child{
    margin-right: 15px;
}


.marks{
    width: 200px;
    height: 20px;   
    text-align: center;
    color: gray;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}

.marks p{
    margin: 0;
    padding: 0;
}

.block:hover .image{
    background: #202020;
    opacity: 0.50;
}

.block:hover{
    background: #202020;
    cursor: pointer;
}

.filter-name{
    color: gray;
    font-size: 14px;
    background: #191919;
    margin: 3px;
    padding-right: 15px;
    text-align: right;
}

.red{
    color: red;
}
