.dropbtn {
    color: gray;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
}

.dropbtn:hover, .dropbtn:focus {
    color: #CCCCCC;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* по замовчуванню контент скритий*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    margin-left: -80px;
}

.dropdown-content a {
    color: #0e8393;
    padding: 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}