.footer{
    content: '';
    display: table;
    margin: 0 auto;
}

.footer{
    background-color: #0a0a0a;
    height: 60px;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    display: block;
}

.social{
    float: right;
    margin-right: 20px;
}

#sign{
    float: left;
    margin-left: 20px;
}

.social-item{
    font-size: 30px;
    color: white;
    margin-right: 20px;
}

.social-item:last-child{
    margin-right: 0;
}

.social-item:hover{
    opacity: 0.5;
}

.float{
    line-height: 60px;
    text-align: center;
}

#home{
    text-decoration: none;
    color: white;
}

#home:hover{
    color: #353535;
    cursor: pointer;
}