.menu{
    list-style: none;
    background: #0a0a0a;
    display: block;
    text-align: center;
    padding-bottom: 5px;
}

.menu ul{
    padding: 0;
    margin: 0;
}

.menu li:before{
    margin: 0;
    content: '';
    height: 100%;
    vertical-align: middle;
}

.menu li{
    display: inline-block;
    width: 163px;
    height: 30px;
    background: #191919;
    margin-top: 3px;
}

.menu a:before{
    content: '';
    height: 100%;
    vertical-align: middle;
}

.menu a p{
    margin-top: 5px;

}

.menu a{
    text-decoration: none;
    color: gray;
    display: block;
    text-align: center;
    height: 100%;
    vertical-align: center;
}

.menu li:hover{
    color: #353535;
    background: #151515;
    cursor: pointer;
}

.filters{
    background: #0a0a0a;
    display: flex;
    justify-content: space-around;
    color: gray;
    padding: 5px 0 5px 0;
}

.filter-item{
    background: #191919;
    width: 203px;
    text-align: center;
}

select{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.filt{
    border: 1px solid #191919;
    width: 203px;
    text-align: center;
    background: #191919;
    color: gray;
}

#popular:hover{
    color: #353535;
    background: #151515;
    cursor: pointer;
}

