.header{
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.logo{
    color: gray;
    line-height: 50px;
    text-decoration: none;
    font-weight: 500;
    font-size: 30px;
    margin-left: 10px;
}

.logo span{
    color: red;
}

.wrapper{
    background-color: #0a0a0a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0;
}

.btn {
    background: #191919;
    color: gray;
    border: 0;
    padding: 6px;
    margin-left: 5px;
}

.btn:hover{
    color: #353535;
    background: #151515;
    cursor: pointer;
}

#search{
    padding: 5px;
    background: #191919;
    border: 1px solid gray;
    color: gray;
}

#search:hover{
    color: #404040;
    border: 1px solid #505050;
}
