#hellopreloader{
    height: 25px;
    width: 25px;
    display: none;
}

#hellopreloader_preload{
    position: fixed;
    z-index: 99999;
    width: 25px;
    height: 25px;
    background: #191919 url(http://hello-site.ru//main/images/preloads/audio.svg) center center no-repeat;
    background-size:11px;
    margin: 0;
    padding: 0;
}

.load-more{
    background-color: #191919;
    border: 1px solid gray;
    padding: 10px;
    color: gray;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 10px 10px;
    width: 220px;
}

.load-more:hover{
    cursor: pointer;
}
