body{
    font-family: 'Montserrat', sans-serif;
    background: black;
}


.cont{
    margin: 3px;
    width: 833px;
    text-align: center;
    background: #222222;
    padding: 20px 0 20px;
    color: white;
    height: 700px;
}

.form-control{
    margin-bottom: 10px;
    width: 300px;
    padding: 5px;
}

.btn-success{
    margin-top: 10px;
    border: 1px solid white;
    background: gray;
    padding: 10px;
    border-radius: 10px 10px;
    color: white;
    width: 200px;
}

.message{
    margin: 10px;
    color: red;
}
