body{
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: #0e8393;
    text-align: center;
}

th{
    width: 300px;
    padding-bottom: 5px;
}

.text{
    width: 300px;
}

.red{
    color: red;
}

.btn-blue {
    background: #0e8393;
    border: 1px solid white;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 120px;
    position: absolute;
    left: 45%;
    top: 80%;
}

.btn-blue:hover{
    border: 1px solid #0e8393;
    background: white;
    color: #0e8393;
}

.desc{
    width: 300px;
    height: 100px;
}
