body {
    background: #4c5469;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    background: white;
    padding-bottom: 10px;
}

.flex-header{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 0 30px;
}

.h1{
    font-size: 20px;
    font-weight: bold;
    color: #0e8393;
}

.exit{
    font-size: 20px;
    font-weight: bold;
    color: gray;
    text-decoration: none;
}

.exit:hover{
    cursor: pointer;
    color: #0e8393;
}

.flexbox{
    display: flex;
    justify-content: space-around;
    background: white;
    padding: 10px 0 0 0;
}

.flexboxSpaceBetween{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: center;
}

.col{
    position: relative;
    border: 1px solid black;
    padding: 5px;
    width: 30%;
    border-radius: 10px;
    background: white;
    z-index: 2;
}

.icon{
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 20px;
    margin-right: 10px;
    display: none;
}

.row-item{
    margin: 10px;
    background: white;
    color: #484848;
}

.col:hover{
    box-shadow: 4px 4px #0e8393;
    top: -4px;
    right: -4px;
}

table{
    border-collapse: collapse;
    margin: 0px 15px 0 15px;
    border: 1px solid #0e8393;
}

.first-row{
    border-bottom: 1px dashed #0e8393;
    padding: 10px;
}

th{
    padding: 5px;
}

.result-table{
    margin: 15px 20px 20px 20px;
    width: 1300px;
    height: 600px;
    overflow-x: scroll;
    overflow-y: scroll;
}

.btn-redact{
    background: #0e8393;
    color: white;
    border: 1px solid white;
    padding: 5px;
    text-decoration: none;
}

.btn-redact:hover{
    background: white;
    color: #0e8393;
    border: 1px solid #0e8393;
    cursor: pointer;
}

.new{
    margin: 15px 30px 0 30px;
}

caption{
    font-weight: bold;
    font-size: 20px;
}

.head{
    font-weight: bold;
    text-align: center;
    color: #0e8393;
}
